*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto Slab', serif;
    background-color: rgb(209, 207, 207);
    margin: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

img{
    height: 500px;
    width: 500px;
    object-fit: cover;
}